version: '3'

services:
  web:
    image: pyautomata:latest
    build: .
    ports:
      - "8888:8888"
    volumes:
      - ./notebooks:/notebooks
    command: /app/bin/app --ip=0.0.0.0 --port=8888 --no-browser --allow-root --NotebookApp.token='' --NotebookApp.password='' --notebook-dir=/notebooks